@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
:root{
   --Yellow: hsl(47, 88%, 63%);
   --White: hsl(0, 0%, 100%);
   --Grey: hsl(0, 0%, 50%);
   --Black: hsl(0, 0%, 7%);
}

body{
   background-color: var(--Yellow);
   font-family: "Figtree", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 100px;
}

img{
   width: 100%;
   display: block;
   border-radius: 16px;
}

.card{
   font-family: "Figtree", sans-serif; 
   max-width:350px;
   padding: 19px;
   margin: 16px;
   background-color:var(--White);
   border-radius: 20px;
   outline: 1px solid #000;
   position: relative;
   box-shadow: 10px 15px;
}

.card::before{
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background-color: var(--Black);
   position: absolute;
   top: 15px;
   border-radius: 16px;
   right: -15px;
   z-index: -1;
}

.para1{
   background-color:var(--Yellow);
   width: min-content;
   padding:5px;
   margin-top:24px;
   font-weight: 800;
   border-radius: 8px;
}

.para2{
   margin-top: 16px;
}

h1 a{
   font-size: 24px;
   font-weight: 800;
   line-height: 2;
   color: var(--Black);
   text-decoration: none;
}
h1 a:hover{
   color: var(--Yellow);
}
.description{
   color: var(--Grey);
   line-height: 1.5;
}

.author{
   margin-top: 1rem;
   display: flex;
   align-items: center;
   gap: 8px;
   width: 30px;
}
.authorName{
   padding-left: 2.5rem;
   font-weight: 800;
   position: absolute;
}





